body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.grid-button {
    margin-bottom: 50px;
}
.cell {
    border: 1px solid black;
    box-sizing: border-box; /* border does not contribute to cell size */
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
}