body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

.grid-button {
    display: flex;
    margin-bottom: 50px;
}
.cell {
    border: 1px solid black;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
}